.containerSobre {
  width: 100%;
  max-width: 56.25rem;
  margin: 4.375rem auto 50rem auto;
}

.title {
  font-size: 1.875rem;
  color: #222;
  margin-bottom: 3.125rem;
}

.subTitle {
  font-size: 1.375rem;
  color: #222;
  font-weight: 400;
  margin-bottom: 1.375rem;
}

.textContainer .text {
  color: #54595f;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 180%;
  font-weight: 300;
}

.textContainer .text strong {
  font-weight: 500;
}