.containerContato {
  width: 100%;
  max-width: 70rem;
  padding: 0px 0.938rem;
  margin: 4.375rem auto;
}

.titleContatoPage {
  margin-bottom: 1.6rem;
  font-size: 1.75rem;
  color: #222;
}

.bannerContainer {
  background-color: #254341;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.375rem;
}

.containerImg {
  margin-right: 2.313rem;
}

.containerImg img {
  width: 100%;
  max-width: 4.375rem;
  height: 4.375rem;
}

.containerTexts .subTitle,
.containerTexts .title {
  color: #fff;
}

.containerTexts .subTitle {
  font-weight: 300;
}

.containerTexts .title {
  font-size: 1.75rem;
  margin-top: 0.375rem;
  font-weight: 300;
}

.containerWhats .btnWhatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #71b850;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.438rem;
  font-weight: 300;
  margin-left: 8.563rem;
  padding: 0.625rem 0.938rem;
  height: 3.531rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.containerWhats .btnWhatsapp:hover {
  background: #578e3d;
}

.mainContainer {
  display: flex;
  align-items: start;
}

.mainContainer .containerLeft {
  width: 100%;
  max-width: 44.563rem;
  background: #fff;
  padding: 3.125rem;
}

.inputFlex {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.campoInput {
  width: 100%;
  max-width: 19.5rem;
}

.campoImputBottom {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.25rem;
}

.inputBottom {
  width: 100%;
}

.campoInput .inputNameTel {
  width: 100%;
}

.textarea {
  padding-top: 0.625rem !important;
  resize: none;
  height: 9.375rem !important;
}

.input {
  padding: 0.375rem 12px;
  height: 42px;
  border-radius: 0.25rem;
  border: 1px solid #dce0e0;
  outline: none;
  font-size: 0.938rem;
  font-weight: 300;
}

.input:focus {
  border-color: #33beff;
}

.label {
  display: block;
  margin-bottom: 0.375rem;
  font-size: 0.938rem;
  color: #222;
}

.label::after {
  content: "*";
  color: red;
  padding-left: 0.2em;
}

.btnContato {
  width: 100%;
  padding: 0 24px;
  height: 40px;
  border: none;
  background: #00aeff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.btnContato:hover {
  background: #0196db;
}

/* Container Right */
.containerRight,
.containerRightBottom {
  width: 20.125rem;
  background: #fff;
  margin-left: 55px;
  padding: 30px 30px 0.938rem 30px;
}

.containerRight {
  min-height: 17.5rem;
}

.containerRightBottom {
  margin-top: 2rem;
  height: 130px;
}

.campoInputRadio {
  margin-bottom: 1.25rem;
}

.flexRadio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.labelRadio {
  font-weight: 300;
  cursor: pointer;
}

.containerRight .title,
.containerRightBottom .title {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #222;
}

.boxContato:not(:last-child) {
  margin-bottom: 1.25rem;
}

.titleContato {
  margin-bottom: 0.4rem;
  color: #222;
}

.textContato {
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.iconContato {
  width: 100%;
  max-width: 1.25rem;
  height: 1.25rem;
}

/* Container right bottom */
.containerSocial {
  display: flex;
  justify-content: space-between;
}

.iconSocial {
  width: 100%;
  max-width: 30px;
  height: 30px;
}

.linkSocial {
  transition: all 0.3s;
}

.linkSocial:hover {
  transform: scale(1.1);
}

.linkYoutube {
  width: 100%;
  max-width: 30px;
  height: 30px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.iconYoutube {
  max-width: 1.25rem;
}

.spanContato {
  width: 240px;
  word-wrap: break-word;
}

/* Container do mapa */
#map {
  position: relative;
}

#mapOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* para embaçar o fundo */
}

#show-map-button {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  font-size: 1rem;
  padding: 18px 26px;
  background: #00aeff;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  z-index: 1000;
}

#show-map-button:hover {
  background: #0196db;
}

.mapOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* para embaçar o fundo */
}

.containerMap {
  height: 480px;
  background-color: #fff;
  margin-top: 4.375rem;
}

.iframeMapa {
  width: 100%;
  height: 400px;
}

.textMap {
  height: 80px;
  padding: 30px;
  font-size: 0.938rem;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.textMap strong {
  margin-right: 0.3rem;
}

.linkMapa {
  margin-left: 0.5rem;
  color: #1586bb;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .containerWhats .btnWhatsapp {
    font-size: 18px;
    margin-left: 100px;
    padding: 0.625rem 0.625rem;
    height: 3.125rem;
  }
  .containerTexts .title {
    font-size: 1.438rem;
  }
  .containerTexts .subTitle {
    font-size: 14px;
  }
  .containerImg img {
    max-width: 40px;
    height: 40px;
  }
  .containerRight,
  .containerRightBottom {
    margin-left: 30px;
  }
}

@media (max-width: 800px) {
  .mainContainer {
    flex-direction: column;
    gap: 30px;
  }
  .mainContainer .containerLeft {
    width: 100%;
    max-width: 100%;
  }
  .containerRight,
  .containerRightBottom {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  .right {
    width: 100%;
  }
  .containerSocial {
    justify-content: initial;
    gap: 2rem;
  }
}

@media (max-width: 710px) {
  .bannerContainer {
    padding: 0.625rem;
  }
  .containerWhats .btnWhatsapp {
    font-size: 1rem;
    margin-left: 80px;
    height: 43px;
  }
  .containerTexts .title {
    font-size: 18px;
  }
  .containerImg {
    display: none;
  }
  #whatsapp .whatsapp {
    bottom: 25px !important;
    right: 40px !important;
    width: 3.125rem !important;
    height: 3.125rem !important;
    line-height: 3.125rem !important;
  }
}

@media (max-width: 560px) {
  .bannerContainer {
    flex-direction: column;
    height: 9.2rem;
    gap: 1.25rem;
  }
  .containerWhats .btnWhatsapp {
    margin-left: 0px;
  }
  .containerTexts {
    text-align: center;
  }
  .containerTexts .title {
    font-size: 18px;
  }
  .inputFlex {
    flex-direction: column;
  }
  .campoInput {
    width: 100%;
    max-width: 100%;
  }
  .mainContainer .containerLeft {
    padding: 30px;
  }
}

@media (max-width: 460px) {
  .containerSocial {
    justify-content: space-between;
    gap: 0px;
  }
  .textMap {
    padding: 0.938rem 0px 0.938rem 0.938rem;
  }
}

.hidden {
  display: none;
}

.show-email,
.show-phone {
  color: #00aeff;
  transition: all 0.3s;
}

.show-email:hover,
.show-phone:hover {
  color: #0196db;
}

#whatsapp .whatsapp {
  position: fixed;
  transition: all 0.5s ease;
  background-color: #25d366;
  display: block;
  text-align: center;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  border-right: none;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  bottom: 45px;
  right: 60px;
  border: 0;
  z-index: 99999;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

#whatsapp .whatsapp:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

#whatsapp .whatsapp:focus {
  border: none;
  outline: none;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
